@page "/"
@using Connect4GameApp.Data
@using Connect4GameApp.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject UserManager<ApplicationUser> UserManager


<PageTitle>Home</PageTitle>

<h2>Hey there!</h2>
<p>Welcome to Connect4Game! Have fun, create and play Connect4 games with your friends!</p>
<div class="row">
    <div class="card bg-primary text-white">
        <div class="card-header">
            <h3>Game</h3>
        </div>
        <div class="card-body">
            <ul>
                @foreach (var user in users)
                {
                    <div>
                        <p>
                            @user.UserName
                            @user.Email
                            @user.PhoneNumber
                            @user.Id
                        </p>
                    </div>


                }
            </ul>
        </div>
    </div>
</div>


@code
{

    List<ApplicationUser> users = new List<ApplicationUser>();
    List<Game> games = new List<Game>();

    //when the page loads, get the users and games
    protected override async Task OnInitializedAsync()
    {
        users = await UserManager.Users.ToListAsync();
    }
}
